body {
    margin: 0px;
    font-family: sans-serif;
}

.container {
    margin: auto;
    max-width: 350px ;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid slategray;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background: rgb(245, 244, 244);
}

.get-started {
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.welcome {
    font-size: 18px;
    color: slategray;
}

.welcome-desc {
    font-size: 16px;
    color: slategray;
}